<div class="card-main">
<!--	<div ng-bind-html="html"></div>-->
	<div class="card-title">
		<p><input type='text' ng-model="board_name" id="boardName" ng-blur="boardName()"><span id="bord-dele" class="glyphicon glyphicon-remove" ng-click="delBord()"></span>
</p>
	</div>
	<div class="card-canvas">
		<div class="card-show">
			<div class="card-zt" ng-show='card_show'  ng-repeat="tt in card_creat">
				<div class="card-top">
					<p><input type='text' ng-model="tt.name"  class="cardName" ng-blur="card_titBlur(tt.id,$index)" ></p>					
					<!--添加下拉列表插件，删除卡片按钮，-->
					<span class="glyphicon glyphicon-trash" ng-click='del_card(tt.id)' id="del_card"></span>
					<div class="card-btn-group" uib-dropdown is-open="status.isopen">
						<span class="glyphicon glyphicon-plus" id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"></span>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem">
								<a href="javascript:;" ng-click="addAlert(tt.id)">文本</a>
							</li>
							<li role="menuitem">
								<a href="javascript:;" ng-click="time_a(tt.id)">时间</a>
							</li>
							<li role="menuitem">
								<a href="javascript:;" ng-click="select(tt.id)">
									选择框<!--<option>
										<select></select>
									</option>-->
								</a>
							</li>
							<li role="menuitem">
								<a href="javascript:;" ng-click="add_aite(tt.id)">@</a>
							</li>
							<li role="menuitem">
								<a href="javascript:;" ng-click="addImage(tt.id)">图片</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-a" >
					<!--添加新条目-->
					<div ng-repeat="rr in tt.items">
						<span class="add-item">
							<div ng-if="rr.dataJson[0].type=='image'">
			                    <div>
			                        <div style="text-align:center;">{{rr.dataJson[0].data.title}}</div>
			                        <img ng-src="{{rr.dataJson[0].data.dataUrl}}" style="width:100%;"></img>
			                    </div>
			                    <div>
			                        <input ng-model="rr.dataJson[0].data.title" class="form-control" style="width:100%">
			                        <div style="display:block;" class="btn btn-default" ngf-select="readItemImage($file,rr)" ng-model="file" ngf-max-size="500KB"
			                            >选择图片(500KB以内)</div>
			                        <img ng-src="{{rr.dataJson[0].data.dataUrl}}" style="width:100%;"></img>
			                    </div>
		                	</div>
							<div ng-if="rr.dataJson[0].type=='text'">
								<input type="text" class="txt" ng-blur="blur($event,tt.id,rr.id)" ng-model="rr.dataJson[0].data">
								<button  type="button" class="close" ng-click="closeAlert(tt.id,rr.id)">
								    <span>×</span>
				    			</button>
							</div>
							<div ng-if="rr.dataJson[0].type=='checkbox'" ">
								<input type="checkbox" ng-checked="rr.dataJson[0].data.checked" ng-model="rr.dataJson[0].data.checked" ng-change="check(tt.id,$event,rr.id,rr.dataJson[0].data.checked)">
						  		<input style="border:none;background:#e2e2e2" type="text" ng-model="rr.dataJson[0].data.text">
						  		<button  type="button" class="close" ng-click="closeAlert(tt.id,rr.id)">
								    <span>×</span>
				    			</button>
			                </div>
			                <div ng-if="rr.dataJson[0].type=='at'" class="aite">
			                    <span class="aite-span" ng-click="aite($event)">@用户名</span>
						  		<b ng-model="rr.dataJson[0].data">{{rr.dataJson[0].data}}</b>
						  		<ul style="display: none;"><li ng-click="selName(index,$event,tt.id,rr.id)" ng-repeat="d in atName">{{d.name}}</li></ul>
						  		<button  type="button" class="close" ng-click="closeAlert(tt.id,rr.id)">
								    <span>×</span>
				    			</button>
			                </div>
							<!--<div class='txt_time' ng-show='show_a'  ng-click="time($index)" ng-model="dt">{{dt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
							
						  	<div class="sel" ng-show="sel">
						  		<input type="checkbox" ng-checked="sel_che" ng-model="sel_che" ng-change="check(tt.id,$event)">
						  		<input type="text" ng-model="新选择框">
						  	</div>
						  	
						  	<div class="aite" ng-show="at">
						  		<span ng-click="aite()">@用户名</span>
						  		<b ng-model="yonghu">{{yonghu}}</b>
						  		<ul ng-show="attn"><li ng-click="selName(index,$event,tt.id)" ng-repeat="d in atName">{{d.name}}</li></ul>
						  		<button  type="button" class="closeA" ng-click="closeAlert(tt.id,rr.id)">
								    <span>×</span>
				    			</button>
						  	</div>-->
						</span>  
					</div>
				</div>				
			</div>
			<div class="new-card">
				<input type="text" placeholder="添加一个新卡片"  class="card_name" required>
				<input type='submit' class="card-save" ng-click="save()" value='保存'>
			</div>
			<div style="clear: both;"></div>
		</div>		
	</div>
</div>

