*{
	margin:0px;
	padding:0px;
}
.card-zt{
	min-height: 64px;
	box-shadow: 1px 1px 6px #333;
	width:324px;
	display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
	background:#ededed;
	height:auto;
	float: left;
	margin-right:12px ;
}

.card-top{
	min-height: 64px;
	width: 324px;
    border-bottom: 2px solid #dddddd;
    position: absolute;
    background:#ededed;
    top:0;
	
}
.card-title{
	border: none;
	background:#ededed;
	outline: none;
	max-width: 200px;
	display: inline-block;
    float: left;
    margin-left: 21px;
    margin-top: 20px;
    font-size: 24px
}
.card-top span{
	display: block;
    float: right;
    font-size: 24px;
    margin-top: 20px;
    margin-right: 10px;
}	
.card-content{
	min-height: 0;
	flex: 1;
    width: 100%;
    padding-left: 11px;
    margin-top: 64px;
    background: #e2e2e2;
    padding-right: 11px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;

	}
.card-content p{
	text-align: center;
	font-size:14px;
	padding-top:13px;
	
}
.card-pic{
	width: 100%;
	height: 445px;
}

.card-pic img{
	width:100%;
	height:100%;

}
.card-selec{
	width:174px;
	height:150px;
	border:1px solid #99918e;
	background:white;
	position: absolute;
	top:63px;
	right:-105px;
}
.card-btn-group{
	float: right;
}
.card-inp1{

	width: 100%;

	height:27px;
	background:#e2e2e2;
	margin-top:11px;
	margin-left:11px;
	margin-right:10px;
	text-indent: 12px;
}
.card-inp1 .txt{
	outline:none;
	border:0px;
	background:#e2e2e2;
	width:100%;
	height:27px;
	line-height:27px;
	
}

.card-inp1 .chk{
	height:13px;
	margin-top:7px;
	margin-right:6px;
}
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;

  }
  .card-main{
  	height: 100%;
  	padding: 20px;
  }
  .bord-title p{
  	color: #3d78ae;
    line-height: 53px;
    font-size: 23px;
  }
 #card-show{
 	transition: 1s left;
 	width: auto;
 	display: inline-block;
 	white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 }
 #card-canvas{
 	min-height: 510px;
 	position: relative;
 }
 #card-scroll{
 	position: relative;
 	bottom:-4px;
 	left:8px;
 	margin-right: 8px;
 	background:#ead8d6;
 	border-radius: 12px;
 	height: 12px;
 	z-index: 99;
 	width: 100%;
 }
 #card-box{
 	height: 12px;
 	border-radius: 12px;
 	background:lightpink;
 	position: absolute;
 	left: 0;
 	width:150px;
 	z-index: 999;
 }

 .new-card{
 	float: left;
 	height: 80px;
 	width: 324px;
 	
 }
 .new-card input{
 	width:324px;
 	height: 64px;
 	border: none;
 	display: block;
 	font-size: 24px;
 	outline: none;
 	background: #e0bfc4;
 }
 .card-save{
 	outline: none;
 	border: none;
 	width:60px;
 	height: 40px;
 	box-shadow: 2px 2px 6px #333;
 	float: left;
 	margin-right: 4px;
 	border-radius: 4px;
 }
