*{
	margin:0px;
	padding:0px;
}
.card-zt{
	width:374px;
	height:auto;
	background:#ededed;
}
.card-top{
	height: 96px;
	border-bottom:2px solid #dddddd;
	position: relative;
	
}
.card-top p{
	display: inline-block;
	float:left;
	margin-left:31px;
	margin-top:39px;
	font-size:30px;
}
.card-top span{
	display: block;
	float: right;
	font-size:29px;
	margin-top:33px;
	margin-right:5px;
}	
.card-content{
	height: 528px;
	width:352px;
	margin-left:11px;
	margin-top:19px;
	background:#e2e2e2;
	margin-right:11px;
	}
.card-content p{
	text-align: center;
	font-size:14px;
	padding-top:13px;
	margin-bottom: 0px;
}
.card-pic{
	width: 328px;
	height: 495px;
	background:red;
	margin-left:12px;
}
.card-selec{
	width:174px;
	height:150px;
	border:1px solid #99918e;
	background:white;
	position: absolute;
	top:63px;
	right:-105px;
}
.card-btn-group{
	float: right;
}
.card-inp1{
	width: 352px;
	height:27px;
	background:#e2e2e2;
	margin-top:11px;
	margin-left:11px;
	margin-right:10px;
	text-indent: 12px;
	line-height: 27px;
}
.card-inp1 .txt{
	outline:none;
	border:0px;
	background:#e2e2e2;
	width:340px;
	height:27px;
	line-height:27px;
	
}

.card-inp1 .chk{
	height:13px;
	margin-top:0;
	margin-right:6px;
}
