<div class="card-main">
<!--	<div ng-bind-html="html"></div>-->
	<div class="card-title">
		<p><input type='text' ng-model="board_name" id="boardName" ng-blur="boardName()"><span id="bord-dele" class="glyphicon glyphicon-remove" ng-click="delBord()"></span>
</p>
	</div>
	<div class="card-canvas">
		<div class="card-show">
			<div class="card-zt" ng-show='card_show'  ng-repeat="tt in card_creat">
				<div class="card-top">
					<p><input type='text' ng-model="tt.name"  class="cardName" ng-blur="card_titBlur(tt.id,$index)" ></p>					
					<!--添加下拉列表插件，删除卡片按钮，-->
					<span class="glyphicon glyphicon-trash" ng-click='del_card(tt.id,$index)' id="del_card"></span>
					<div class="card-btn-group" uib-dropdown is-open="status.isopen">
						<span class="glyphicon glyphicon-plus" id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"></span>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<li role="menuitem">
								<a href="javascript:;" ng-click="addAlert(tt.id)">文本</a>
							</li>
							<li role="menuitem">
								<a href="javascript:;" ng-click="time_a(tt.id)">时间</a>
							</li>
							<li role="menuitem">
								<a href="javascript:;" ng-click="select(tt.id)">
									选择框<!--<option>
										<select></select>
									</option>-->
								</a>
							</li>
							<li role="menuitem">
								<a href="javascript:;" ng-click="addAlert(tt.id)">@</a>
							</li>
							<li role="menuitem">
								<a href="javascript:;" ng-click="addAlert(tt.id)">图片</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-a">
					<div class="card-content">
						<p><input type='text' ng-model="ss"></p>
						<div class="card-pic"><img src="../../assets/img/sav1.jpg"></div>
					</div>
					<!--添加新条目-->
					<div ng-repeat="rr in tt.item_new"  class="item">
						<input type="text" class="txt" ng-blur="blur($event,tt.id,rr.id)" ng-model="rr.dataJson[0].data">
						<button  type="button" class="close" ng-click="closeAlert(tt.id,rr.id)">
						    <span>×</span>
		    			</button>
					</div>
					<!--显示隐藏时间-->
					<div class='txt_time' ng-show='show_a'  ng-click="time($index)"><span ng-model="dt">{{dt | date:'yyyy-MM-dd'}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span ng-model="mytime">{{mytime | date:'HH:mm:ss'}}</span></div>
					
					<!--插件时间-->
					<div class='time-a'>
						<!--年，月，日-->
					    <div class="row">					      
					      	<div class="col-md-6">
					        	<p class="input-group">
					          		<input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					          		<span class="input-group-btn">
					            		<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
					          		</span>
					        	</p>
					      	</div>
					    </div>
				    
					    <!--小时，分，秒-->
					    <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
					  	<pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>
					
					  	<div class="row"> 
					    	<div class="col-xs-6">
					        	Hours step is:
					      		<select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
					    	</div>
					    	<div class="col-xs-6">
					       	 	Minutes step is:
					      		<select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
					    	</div>
					  	</div>
					
					  	<hr>
					
					  	<button type="button" class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
					  <!--<button type="button" class="btn btn-default" ng-click="update()">Set to 14:00</button>-->
					  	<button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>
					  	<button type="button" class="btn btn-sm btn-info" ng-click="complete(tt.id,$index)" id="complete">Complete</button>
				  	</div>
				  	
				  	<!--新选择框-->
				  	<div class="sel" ng-show="sel">
				  		<input type="checkbox" ng-checked="sel_che" ng-click="check()">
				  		<input type="text" value="新选择框">
				  	</div>
				</div>				
			</div>
			<div class="new-card">
				<input type="text" placeholder="添加一个新卡片" ng-click="new_m(tt.id,$event)" class="card_name" required>
				<input type='submit' class="card-save" ng-click="save()" value='保存'>
			</div>
			<div style="clear: both;"></div>
		</div>		
	</div>
</div>