*{
	margin:0px;
	padding:0px;
}
body {
	width: 100%;
	height: 100%;
	background: url(../../assets/img/content.jpg) no-repeat;
}
.card-zt{
	width:374px;
	height:auto;
	background:#ededed;
}
.card-top{
	height: 96px;
	border-bottom:2px solid #dddddd;
	position: relative;
	
}
.card-top p{
	display: inline-block;
	float:left;
	margin-left:31px;
	margin-top:39px;
	font-size:30px;
}
.card-top span{
	display: block;
	float: right;
	font-size:29px;
	margin-top:33px;
	margin-right:5px;
}	
.card-content{
	height: 528px;
	width:352px;
	margin-left:11px;
	margin-top:19px;
	background:#e2e2e2;
	margin-right:11px;
	}
.card-content p{
	text-align: center;
	font-size:14px;
	padding-top:13px;
	margin-bottom: 0px;
}
.card-pic{
	width: 328px;
	height: 495px;
	background:red;
	margin-left:12px;
}
.card-selec{
	width:174px;
	height:150px;
	border:1px solid #99918e;
	background:white;
	position: absolute;
	top:63px;
	right:-105px;
}
.card-btn-group{
	float: right;
}
.card-inp1{
	width: 352px;
	height:27px;
	background:#e2e2e2;
	margin-top:11px;
	margin-left:11px;
	margin-right:10px;
	text-indent: 12px;
	line-height: 27px;
}
.txt{
	outline:none;
	border:0px;
	background:#e2e2e2;
	width:324px;
	height:33px;
	line-height:27px;
	color: #2d392f;
	text-indent: 12px;
	margin-left:0px;
	
}

.card-inp1 .chk{
	height:13px;
	margin-top:0;
	margin-right:6px;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}   

.card-main{
  	height: 100%;
  	padding: 20px;
}
.card-title p{
  	color: #3d78ae;
    line-height: 53px;
    font-size: 23px;
}
.card-main{
  	height: 100%;
  	padding: 20px;
}
.card-title p{
  	color: #3d78ae;
    line-height: 53px;
    font-size: 23px;
}
.card-show{
 	display: inline-block;
 	white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card-canvas{
 	min-height: 600px;
 	position: relative;
}
#card-scroll{
 	position: absolute;
    bottom: -6px;
    left: -3px;
 	margin-right: 8px;
 	background:#ead8d6;
 	border-radius: 12px;
 	height: 12px;
 	z-index: 99;
 	width: 100%;
 	clear: both;
}
#card-box{
 	height: 12px;
 	border-radius: 12px;
 	background:lightpink;
 	position: absolute;
 	left: 0;
 	width:150px;
 	z-index: 999;
}