*{
	margin:0px;
	padding:0px;	
}
li,ul,ol {
	list-style: none;
}
body {
	font-family: '微软雅黑';
	background: #ccc;
}
.addCard_lpl{
	width:374px;
	/*height:648px;*/
	background:#ededed;
	padding-bottom: 1px;
}
.top_lpl{
	height: 96px;
	border-bottom:2px solid #dddddd;
	position: relative;
}
.top_lpl p{
	display: inline-block;
	float:left;
	margin-left:31px;
	margin-top:39px;
	font-size:30px;
}
.top_lpl span{
	display: block;
	float: right;
	font-size:29px;
	margin-top:33px;
	margin-right:5px;
}	
/*.kuang1_lpl {
	width: 173px;
	height: 150px;
	border: 1px solid #b7b7b7;
	background: #fff;
	position: absolute;
	left: 300px;
	top: 65px;
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.kuang1_lpl li {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 23px;
	color: #62444e;
}*/
.content_lpl{
	height: 548px;
	width:352px;
	margin-left:11px;
	margin-top:19px;
	background:#e2e2e2;
	margin-right:11px;
	margin-bottom: 11px;
	}
.content_lpl p{
	text-align: center;
	font-size:14px;
	padding-top:14px;
}
.pic_lpl{
	width: 328px;
	height: 495px;
	background:red;
	margin-left:12px;
}
.selec{
	width:174px;
	height:150px;
	border:1px solid #99918e;
	background:white;
	position: absolute;
	top:63px;
	right:-105px;
}
.btn-group{
	float: right;
}
.inp1{
	width: 352px;
	height:27px;
	background:#e2e2e2;
	margin-bottom:11px;
	margin-left:11px;
	margin-right:10px;
}
.inp1 input{
	outline:none;
	border:0px;
	background:#e2e2e2;
	width: 352px;
	height:27px;
	line-height:27px;
	text-indent: 12px;
}
#checkbox_lpl{
	
}
#checkbox_lpl input{
	outline:none;
	border:0px;
	background:#e2e2e2;
	width: 13px;
	height:13px;
	margin-left: 12px;
	margin-right: 9px;
}


.btn-group.open .dropdown-toggle {
    -webkit-box-shadow:none;
    box-shadow: none;
}