<div class="gundong">
<div class="mada">
	<span>个人</span>
	<div class="ma-ge">
		<div class="jakuandi">
			<div class="ma-jiayi" ng-repeat="personal in board_all.personal_boards" ui-sref='wzy.card({board_id:personal.id})'>{{personal.name}}</div>
		</div>
		<div class="ma-lanp">
			<p class="glyphicon glyphicon-plus" ng-click="personal()"></p>
		</div>
	</div>
	<span>{{fourname}}</span>
	<div class="ma-ge">
		<div class="jakuaner">	
		</div>
		<div class="ma-xin">
			<p class="glyphicon glyphicon-plus" ng-click="orgnizational()"></p>
		</div>
	</div>
</div>
</div>