#yan_div1{
	width: 240px;
	height: 80%;
	padding-left: 18px;
	background: #dbc1c4;
	position:fixed;
	right: 0;
	top: 102px;
	z-index: 33;
	overflow: hidden;			
}
#yan_op{
	width: 200px;
	margin-bottom: 30px;
}
#yan_hq{
	width:214px;
	height: 36px;
	position: fixed;
	bottom: 10px ;
    right: 0px ;
	outline: 26px solid #dbc1c4;
	z-index: 22;
	background: #dbc1c4;
}
.liulan_parent{
	width: 220px;
	height: 80%;
	overflow: auto;
}
#yan_te{
	width:79%;
	height: 35px;
	border: 0;
	border-radius: 2px;
}
#yan_bttn{
	width: 40px;
	height: 35px;
	border: 0;
	background: #fff;
	border-left: 1px solid #cccccc;
	text-align: center;
	line-height: 35px;
	border-radius: 2px;
}
#yan_sp1{
	display: block;
	width: 195px;
	height: 62px;
	background: #5bc0de;
	border-radius: 13px 13px 0 0;
	margin: 0 auto;
	font-size: 17px;
	line-height: 62px;
	color: #fff;
	padding-left:5px;
}
#yan_sp1 a {
	display: block;
	width: 100px;
	height: 62px;
	overflow: hidden;
	color: white;
	float: left;
}
#yan_sp3{
	display: block;
	width: 50px;
	height: 62px;
	box-sizing: border-box;
	line-height: 62px;
	text-align: center;
	float: right;
}
#yan_sp2{
	display: block;
	width: 195px;
	height: 64px;
	background: #ffffff;
	border-radius: 0 0 13px 13px;
	margin: 0 auto;
	color: #000;
	font-size: 12px;
	line-height: 62px;
	padding-left: 5px;
}
.yan_name{
	float: left;
}
#yan_right{
	float: right;
}

